.navbarproduct {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: transparent;
    border-bottom: 2px solid #d35400;
    font-family: Arial, sans-serif;
    margin: auto;
}

.navlinksprod {
    list-style: none;
    display: flex;
    padding: 0px;
    margin: 0px;
    height: 60px;
    align-items: center;
    justify-content: space-around;
    width: 60%;
    min-width: 400px;
}

.navlinksprod li a {
    display: flex;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 15px;
    transition: color 0.3s ease;
}

.navlinksprod li a:hover {
    color: #d35400;
    background-color: rgba(0, 0, 0, 0.665);
    border: none;
    border-radius: 8px;
}

@media screen and (max-width: 600px) {

    .navlinksprod {
        list-style: none;
        display: flex;
        padding: 0px;
        margin: 0px;
        height: 60px;
        width: auto;
        align-items: center;
    }

    .navbarproduct {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: transparent;
        border-bottom: 2px solid #d35400;
        font-family: Arial, sans-serif;
    }

}

