.navbarproduct {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: transparent;
    border-bottom: 2px solid #d35400;
    font-family: Arial, sans-serif;
}

.recuadro0 {
    height: 60px;
    width: 200px;
    background: linear-gradient(to left, rgb(255, 0, 0), rgb(2, 0, 0));
    clip-path: polygon(0 0, 80% 0, 100% 50%, 80% 100%, 0 100%);
    margin-right: 0px;
    position: absolute;
    z-index: 4;
}

.recuadro2 {
    height: 60px;
    width: 200px;
    background: linear-gradient(to left, rgb(255, 0, 0), rgb(2, 0, 0));
    clip-path: polygon(0 0, 80% 0, 100% 50%, 80% 100%, 0 100%);
    margin-right: 30px;
    position: relative;
    z-index: 1;
    top: 0;
    left: 10px;
}

.recuadro3 {
    height: 60px;
    width: 200px;
    background: linear-gradient(to left, rgb(255, 0, 0), rgb(2, 0, 0));
    clip-path: polygon(0 0, 80% 0, 100% 50%, 80% 100%, 0 100%);
    margin-right: 30px;
    top: 0;
    left: -280px;
    position: relative;
    z-index: 2;
}

.recuadro1 {
    height: 60px;
    width: 200px;
    background: linear-gradient(to left, rgb(255, 0, 0), rgb(2, 0, 0));
    clip-path: polygon(0 0, 80% 0, 100% 50%, 80% 100%, 0 100%);
    margin-right: 30px;
    position: relative;
    z-index: 3;
    top: 0;
    left: 100px;
}

.navgralproduct {
    height: 60px;
    display: flex;
    align-items: center;
    gap: 50px;
}

.navlinks {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0px;
    margin: 0px;
    height: 60px;
    align-items: center;
}

.navlinks li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 15px;
    transition: color 0.3s ease;
}

.navlinks li a:hover {
    color: #d35400;
    background-color: rgba(0, 0, 0, 0.665);
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
}