.primeralinea {
    width: 100%;
    height: 40px;
    background: linear-gradient(to left, rgb(255, 0, 0), rgb(2, 0, 0));
}
    
.navbar {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: transparent;
    position: relative;
    z-index: 0;
    border-bottom: 2px solid #d35400;
    font-family: Arial, sans-serif;
}

.recuadro {
    height: 60px;
    width: 200px;
    background-color: red;
    clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100%);
    position: absolute;
    z-index: 0;
}

.navgral {
    height: 60px;
    display: flex;
    align-items: center;
    gap: 50px;
}

.logo {
    position: relative;
    z-index: 2;
    margin-left: 25px;
}

.navlinks {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0px;
    margin: 0px;
    height: 60px;
    align-items: center;
}

.navlinks li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 15px;
    transition: color 0.3s ease;
}

.navlinks li a:hover {
    color: #d35400;
    background-color: rgba(0, 0, 0, 0.665);
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
}

.navcart {
    position: relative;
    margin-right: 30px;
    align-items: center;
}

@media screen and (max-width: 500px) {

    .navbar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        padding: 10px 0;
    }

    /*.logo {
        margin: 10px 0 0 0;

    .logo img {
        width: 90px;
        height: 90px;
    }*/

    .navgral {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        margin-top: 10px;
    }

    .navlinks {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
        height: auto;
        padding: 0;
        margin: 0;
    }

    .navlinks li a {
        padding: 8px 12px;
    }

    .navcart {
        margin-top: 15px;
        margin-right: 0;    /* el carrito deja de correrse */
    }
}
