.itemlist {
  width: 100%;
  height: auto;
  margin: 100px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
  background-color: white;
  justify-content: space-around;
}

@media screen and (max-width: 600px) {
  .itemlist {
      grid-template-columns: 1fr;
      gap: 16px;
      padding: 16px;
      justify-content: center;
  }
}
